.card_custom{
    
    border: 1px solid transparent;
    position: relative;
    transition: 0.4%;
}

.card_custom:hover{
    border:2px solid var(--accentC);
}
.card_img{
    height: 180px!important;
    width: 100%;
    transition: 0.4%;

}
.card_custom:hover > .car_img { /* se hai un filgio diretto con class card_img */
    height: 180px;
    width: 100%;
    filter:brightness(50%);
}
.card_text{
    position: absolute;
    bottom: 3%;
    left: 3%;
    opacity: 0;
    transition: 0.4%;
}

.card_custom:hover > .card_text{ /* se hai un filgio diretto con class card_text */
    opacity: 1;
    display:block;
}