 
body{
    background-color: rgb(16, 16, 18);
}

.card-custom{
    height: 100%;
    color: rgb(199, 199, 228);
    border: 10px solid rgb(6, 92, 36); 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 120%;
    
}

.card-custom:hover{
    background-position: center right;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card-custom-pink{
    border: 10px solid rgb(92, 5, 76); 
}
.card-custom-white{
    border: 10px solid rgb(246, 246, 246); 
    
}