.search_input{ /* classe specifica del text per la ricerca */
    width:30%;
    height:40px;
    padding:5px 10px; /* in verticale - orizzontale */

}

.brand{ /* per */
    text-decoration: none;
    color: var(--primay);
    font-weight: 600;
    Letter-spacing: 3px;
}

.nav_link_custom{
    font-size: 100;
    font-weight: 500;
    text-decoration: none;
    color: var(--primaryC);
}

.nav_link_custom:hover{
    color: var(--accentC);
}