@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Gestione dei colori palette di grigi https://calcolor.co/palette/942409461 */
:root{
    --primaryC: #333333;
    --secondaryC: #eeeeee;
    --accentC : #fd6a02;  /* colore di accento serve per mettere in rilievo dei singolo elementi */ 
}
/*
body{
    background-color: var(--primaryC);
}
/* Tutti i caratteri prendono questo font font */
*{
    font-family: "Montserrat", sans-serif;
}
h1,h2,h3, .h1, .h2, .h3{
    font-family: "Electrolize", sans-serif;
}

.text-primaryC{
    color: var(--primaryC);
}
.text-secondaryC{
    color: var(--secondaryC);
}
.text-accentC{
    color: var(--accentC);
}

.navbar{ /* mi definisco dei stili particolari per la navbar */
    height: 75px;
 /*   border-bottom: 1px solid; */
    box-shadow: 2px 0px 5px var(--primaryC); /* mette l'ombra sotto la navbr */
}